@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="katalog-title">Sök i katalogen</a>
    <section class="search">
        <input type="search" id="searchInput" placeholder="Sök böcker, rapporter och andra...">
        <button id="searchButton">Sök</button>
    </section>
</div>