@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="katalog-title">Sök i katalogen</a>
    <section class="search">
        <input type="search" id="searchInput" placeholder="Sök böcker, rapporter och andra...">
        <button id="searchButton">
            <a style="color: white;" asp-controller="Books" asp-action="Index">Sök</a>
        </button>
    </section>
</div>
<head>
    <meta charset="utf-8">
</head>
