.Catalogue {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.Books {
    border: black solid 1px;
    width: 350px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

.LoanKnapp {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.UpdateKnapp {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.DeleteKnapp {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.CreateKnapp {
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}