<!-- Navigationsbar som kan sen läggas in i fler olika Views. -->

<nav class="navbar">

    <div class="profilebox pointer" data-url="/">
        <img class="profile" src="~/images/logo.png" alt="profile" />
    </div>
    
    <div class="namebox pointer">
        <a class="pointer">Namn - <br>&nbsp;Biblioteket<br></a>
    </div>
    
    <button class="navbutton" style="grid-area: 1 / 14 / 1 / 14;" id="navAboutButton">
        <a>Profil</a>
    </button>

    @if (Context.Session.GetString("Username") != null)
    {
        <button class="navbutton" style="grid-area: 1 / 15 / 1 / 15;">
            <a asp-controller="Logout" asp-action="Index">Logga Ut</a>
        </button>
    }
    else
    {
        <button class="navbutton" style="grid-area: 1 / 15 / 1 / 15;" id="navProjectsButton">
            <a asp-controller="Login" asp-action="Index">Logga In</a>
        </button>
    }

</nav>