<!-- Navigationsbar som kan sen läggas in i fler olika Views. -->

<nav class="navbar">

    <div class="profilebox pointer" data-url="/">
        <img class="profile" src="~/images/logo.png" alt="profile" />
    </div>
    
    <div class="namebox pointer">
        <a class="pointer">Namn - <br>&nbsp;Biblioteket<br></a>
    </div>
    
    <button class="navbutton" style="grid-area: 1 / 14 / 1 / 14;" id="navAboutButton">
        <a>Profil</a>
    </button>

    <button class="navbutton" style="grid-area: 1 / 15 / 1 / 15;" id="navProjectsButton">
        <a>Logga In</a>
    </button>
</nav>