@using Microsoft.AspNetCore.Http
<nav class="navbar">
    <div class="profilebox pointer" data-url="/">
        <img class="profile" src="~/images/logo.png" alt="Logotyp" />
    </div>
    
    <div class="namebox pointer">
        <a class="pointer" asp-controller="Home" asp-action="Index">Bibliotekssystem</a>
    </div>

    @if (Context.Session.GetString("Username") != null)
    {
        <button class="navbutton" style="grid-area: 1 / 10;">
            <a asp-controller="Home" asp-action="MyLoans" style="color: #001f3f; font-weight: bold; text-decoration: none;">Mina lån</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 11;">
            <a asp-controller="Reservations" asp-action="Index">Reservationer</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 12;">
            <a asp-controller="Notification" asp-action="Index">Notifikationer</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 13;" id="navAboutButton">
            <a asp-controller="Profile" asp-action="Index">Profil</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 14;">
            <a asp-controller="Login" asp-action="Logout">Logga Ut</a>
        </button>
    }
    else
    {
        <button class="navbutton" style="grid-area: 1 / 14;" id="navProjectsButton">
            <a asp-controller="Login" asp-action="Index">Logga In</a>
        </button>
    }
</nav>