@using Microsoft.AspNetCore.Http
<nav class="navbar">
    <div class="profilebox pointer" data-url="/">
        <img class="profile" src="~/images/logo.png" alt="Logotyp" />
    </div>
    
    <div class="namebox pointer">
        <a class="pointer" asp-controller="Home" asp-action="Index">Bibliotekssystem</a>
    </div>

    @if (Context.Session.GetString("Username") != null)
    {
        @* Knapparna börjar på kolumn 10 för att ge utrymme åt namnet till vänster *@
        <button class="navbutton" style="grid-area: 1 / 9;">
            <a asp-controller="Books" asp-action="Index">Katalog</a>
        </button>
        
        <button class="navbutton" style="grid-area: 1 / 10;">
            <a asp-controller="Home" asp-action="MyLoans">Mina lån</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 11;">
            <a asp-controller="Reservations" asp-action="Index">Reservationer</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 12;">
            <a asp-controller="Notification" asp-action="Index">Notiser</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 13;">
            <a asp-controller="Profile" asp-action="Index">Profil</a>
        </button>

        <button class="navbutton" style="grid-area: 1 / 14;">
            <a asp-controller="Login" asp-action="Logout" class="logout-link">Logga Ut</a>
        </button>
    }
    else
    {
        <button class="navbutton" style="grid-area: 1 / 14;">
            <a asp-controller="Login" asp-action="Index">Logga In</a>
        </button>
        
        <button class="navbutton" style="grid-area: 1 / 13;">
            <a asp-controller="Books" asp-action="Index">Katalog</a>
        </button>
    }
</nav>