@model sos100_bibliotek.Models.BookCatalogue

@{
    ViewData["Title"] = "Lägg till bok";
}

<main class="container mt-4">
    
    <h2 class="d-flex justify-content-center">Lägg till en bok</h2>
    
    <div class="d-flex justify-content-center align-items-center mb-4">
        <form asp-action="CreateBook" method="post" class="card col-md-8 h-200 shadow-sm border-0 bg-light p-3">
            <div>
                <p><strong>Titel:</strong></p>
                <input asp-for="Title" class="form-control border border-black"/>
                <p><strong>Författare:</strong></p>
                <input asp-for="Author" class="form-control border border-black"/>
                <p><strong>Utgiven:</strong></p>
                <input asp-for="Year" class="form-control border border-black"/>
                <p><strong>Antal sidor:</strong></p>
                <input asp-for="Pages" class="form-control border border-black"/>
                <p><strong>Språk:</strong></p>
                <input asp-for="Language" class="form-control border border-black"/>
                <p><strong>Förlag:</strong></p>
                <input asp-for="Publisher" class="form-control border border-black"/>
                <p><strong>ISBN:</strong></p>
                <input asp-for="Isbn" class="form-control border border-black"/>
            </div>
            <button type="submit">Lägg till boken</button>
        </form>
    </div>
</main>