@model BookCatalogue
@{
    ViewData["Title"] = "Katalog";
}
<main>
    <h1>Bokkatalog</h1>
    <div class="Catalogue">
        <form asp-action="Index" method="post">
            <div>
                <label>Author:</label>
                <input asp-for="Author"/>
            </div>
            <div>
                <label>Title:</label>
                <input asp-for="Title"/>
            </div>
            <div>
                <label>Year:</label>
                <input asp-for="Year"/>
            </div>
            <div>
                <label>Language:</label>
                <input asp-for="Language"/>
            </div>
            <div>
                <label>Publisher:</label>
                <input asp-for="Publisher"/>
            </div>
            <div>
                <label>Pages:</label>
                <input asp-for="Pages"/>
            </div>
            <div>
                <label>ISBN:</label>
                <input asp-for="Isbn"/>
            </div>
        </form>
        <button type="submit">Låna boken!</button>
    </div>
</main>